services:
  db:
    image: postgres:16
    container_name: postgres_theater_test
    environment:
      POSTGRES_DB: theater_test
      POSTGRES_USER: theater
      POSTGRES_PASSWORD: theater
    volumes:
      - postgres_theater_test_data:/var/lib/postgresql/data
    networks:
      - theater_network_test
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB -h 127.0.0.1 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

  mailhog:
    image: mailhog/mailhog:latest
    container_name: mailhog_theater_test
    networks:
      - theater_network_test

  minio:
    image: minio/minio:latest
    container_name: minio-theater-test
    command: server --console-address ":9001" /data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: some_password
    volumes:
      - minio_data_test:/data
    networks:
      - theater_network_test
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:9000/minio/health/live || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10

  minio_mc:
    build:
      context: .
      dockerfile: docker/minio_mc/Dockerfile
    container_name: minio_mc_theater_test
    command: [ "/bin/sh", "-c", "/commands/setup_minio.sh && tail -f /dev/null" ]
    depends_on:
      minio:
        condition: service_healthy
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: some_password
      MINIO_HOST: minio
      MINIO_PORT: 9000
      MINIO_STORAGE: theater-storage
    networks:
    - theater_network_test
    healthcheck:
      test: [ "CMD-SHELL", "test -f /tmp/minio_ready" ]
      interval: 2s
      timeout: 2s
      retries: 60

  web:
      build:
        context: .
        dockerfile: ./docker/tests/Dockerfile
      container_name: backend_theater_test
      command: [ "pytest", "-c", "/usr/src/config/pytest.ini", "--maxfail=5", "--disable-warnings", "-v", "--tb=short" ]
      environment:
        - PYTHONPATH=/usr/src/app
        - ENVIRONMENT=testing
        - DATABASE_URL=postgresql+asyncpg://theater:theater@db:5432/theater_test
        - EMAIL_HOST=mailhog
        - EMAIL_PORT=1025
        - EMAIL_HOST_USER=testuser@mate.com
        - EMAIL_HOST_PASSWORD=test_password
        - EMAIL_USE_TLS=False
        - EMAIL_FROM=testuser@mate.com
        - MAILHOG_API_PORT=8025
        - MINIO_ROOT_USER=minioadmin
        - MINIO_ROOT_PASSWORD=some_password
        - MINIO_HOST=minio
        - MINIO_PORT=9000
        - MINIO_STORAGE=theater-storage
        - SMTP_HOST=mailhog
        - SMTP_PORT=1025
        - SMTP_USE_TLS=False
        - SMTP_EMAIL=noreply@theater.test
        - SMTP_PASSWORD=
      depends_on:
        db:
          condition: service_healthy
        mailhog:
          condition: service_started
        minio:
          condition: service_healthy
        minio_mc:
          condition: service_healthy
      volumes:
        - .:/usr/src/app
      networks:
        - theater_network_test

volumes:
  postgres_theater_test_data:
    driver: local
  minio_data_test:
    driver: local

networks:
  theater_network_test:
    driver: bridge
